@import 'tailwindcss';

@theme {
  /* stylelint-disable-next-line custom-property-pattern */
  --color-*: initial;
  --color-transparent: transparent;
  --color-current: currentcolor;
  --color-white: oklch(100% 0 0deg);
  --color-black: oklch(0% 0 0deg);
  --color-blue-50: oklch(98.31% 0.008 278.64deg);
  --color-blue-100: oklch(96.85% 0.0148 260.73deg);
  --color-blue-200: oklch(89.56% 0.0531 240.62deg);
  --color-blue-300: oklch(80.67% 0.096957 273.083deg);
  --color-blue-700: oklch(41.24% 0.1195 255.97deg);
  --color-blue-950: oklch(28.77% 0.0963 256.43deg);
  --color-grey-500: oklch(68.6% 0.0251 277.76deg);
  --color-orange-300: oklch(82.04% 0.1138 52.02deg);
  --color-purple-200: oklch(88.69% 0.0181 275.62deg);
  --color-purple-400: oklch(69.64% 0.165 283.6deg);
  --color-purple-500: oklch(57.47% 0.237 278.29deg);
  --color-purple-600: oklch(52.08% 0.2692 274.01deg);
  --color-red-400: oklch(74.11% 0.1465 14.51deg);
  --color-red-450: oklch(66.76% 0.1686 16.24deg);
  --color-red-500: oklch(62.5% 0.2169 21.15deg);
  /* stylelint-disable-next-line custom-property-pattern */
  --font-*: initial;
  --font-sans: ubuntu, ui-sans-serif, system-ui, sans-serif;
  /* stylelint-disable-next-line custom-property-pattern */
  --font-weight-*: initial;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --spacing-0: 0rem;
  --spacing-100: 0.5rem;
  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --spacing-500: 2.5rem;
  --spacing-700: 3.5rem;
}

body {
  @apply min-h-lvh bg-blue-100 font-sans text-base font-normal;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}

.attribution a {
  color: hsl(228deg 45% 44%);
}

/* .text-preset-1 {
  font-size: 2rem;
  font-weight: var(--font-weight-bold);
  line-height: 1.2;
  letter-spacing: 0;
}

.text-preset-2 {
  font-size: 1.5rem;
  font-weight: var(--font-weight-bold);
  line-height: 1.2;
  letter-spacing: 0;
}

.text-preset-3-medium {
  font-size: 1rem;
  font-weight: var(--font-weight-medium);
  line-height: 1.2;
  letter-spacing: 0;
}

.text-preset-3-regular {
  font-size: 1rem;
  font-weight: var(--font-weight-regular);
  line-height: 1.5;
  letter-spacing: 0;
}

.text-preset-4-bold {
  font-size: 0.875rem;
  font-weight: var(--font-weight-bold);
  line-height: 1.2;
  letter-spacing: 0;
}

.text-preset-4-medium {
  font-size: 0.875rem;
  font-weight: var(--font-weight-medium);
  line-height: 1.5;
  letter-spacing: 0;
}

.text-preset-4-normal {
  font-size: 0.875rem;
  font-weight: var(--font-weight-regular);
  line-height: 1.2;
  letter-spacing: 0;
}

.text-preset-5 {
  font-size: 0.75rem;
  font-weight: var(--font-weight-regular);
  line-height: 1.2;
  letter-spacing: 0;
} */
